*{margin:0;padding:0;box-sizing:border-box;font-family:Inter}

body{
background:#0b0d12;
color:white
}

.center{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center
}

.card-auth{
background:rgba(255,255,255,.06);
padding:35px;
border-radius:25px;
width:90%;
max-width:380px;
box-shadow:0 20px 50px rgba(0,0,0,.6)
}

.card-auth h2{text-align:center;margin-bottom:25px}

input,select{
width:100%;
height:50px;
border:none;
border-radius:15px;
margin:10px 0;
background:#161820;
color:white;
padding:0 15px
}

button{
width:100%;
height:50px;
border:none;
border-radius:16px;
margin-top:10px;
background:linear-gradient(45deg,#6d28d9,#3b82f6);
color:white;
font-weight:bold
}

/* DASHBOARD */

.header{
margin:20px;
height:55px;
background:rgba(255,255,255,.08);
border-radius:18px;
display:flex;
align-items:center;
padding-left:16px
}

.menu-grid{
padding:0 20px;
display:grid;
grid-template-columns:1fr 1fr;
gap:15px
}

.menu-grid button{
background:rgba(255,255,255,.08)
}

.drawer{
position:fixed;
top:0;
left:-270px;
width:260px;
height:100%;
background:#121318;
padding:25px;
transition:.4s
}

.drawer.open{left:0}

.avatar{
width:90px;height:90px;border-radius:50%;
background:#00ff88;margin:auto
}

.server-card{
background:#161820;
margin:15px;
padding:15px;
border-radius:16px
}