*{margin:0;padding:0;box-sizing:border-box;font-family:Inter,Arial}

body{
background:#0e0f13;
color:white
}

/* HEADER */
.header{
margin:20px;
height:55px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(10px);
border-radius:18px;
display:flex;
align-items:center;
padding-left:16px;
box-shadow:0 10px 30px rgba(0,0,0,.4)
}
.header span{font-size:26px}

/* MENU */
.menu-grid{
padding:0 20px;
display:grid;
grid-template-columns:1fr 1fr;
gap:15px
}
.menu-grid button{
height:52px;
background:rgba(255,255,255,.08);
border:none;
border-radius:18px;
color:white;
font-weight:600
}

/* CARD */
.card{margin:25px 20px;background:rgba(255,255,255,.05);border-radius:22px;padding:8px}
.card img{width:100%;border-radius:18px}

/* DESC */
.desc{margin:0 20px 30px;background:rgba(255,255,255,.07);border-radius:20px;padding:20px}

/* DRAWER */
.overlay{
position:fixed;inset:0;background:rgba(0,0,0,.5);
opacity:0;pointer-events:none;transition:.3s
}
.overlay.show{opacity:1;pointer-events:auto}

.drawer{
position:fixed;top:0;left:-270px;width:260px;height:100%;
background:#121318;padding:25px;transition:.4s
}
.drawer.open{left:0}

.avatar{
width:90px;height:90px;border-radius:50%;
background:#00ff88;margin:auto;
display:flex;align-items:center;justify-content:center
}
.drawer h3{text-align:center;margin:15px 0}

.drawer button{
width:100%;height:46px;margin:10px 0;border:none;
border-radius:14px;background:linear-gradient(45deg,#6d28d9,#3b82f6);
color:white;font-weight:600
}

/* CREATE */
.create{padding:20px}
.create input,.create select{
width:100%;height:50px;border-radius:16px;border:none;
margin:10px 0;background:#15161c;color:white;padding:0 15px
}
.create button{
width:100%;height:52px;border:none;border-radius:18px;
background:linear-gradient(45deg,#6d28d9,#3b82f6);color:white
}
pre{background:black;padding:15px;border-radius:16px;margin-top:10px}

/* SERVERS */
.server-card{
background:#15161c;padding:15px;border-radius:15px;margin:15px
}