*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

body{
background:#0e0f13;
color:white
}

.center{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center
}

.card{
background:#161820;
padding:30px;
border-radius:20px;
width:90%;
max-width:350px
}

input,select{
width:100%;
height:45px;
margin:10px 0;
border:none;
border-radius:10px;
padding:0 12px;
background:#0e0f13;
color:white
}

button{
width:100%;
height:45px;
border:none;
border-radius:10px;
background:#5b5bff;
color:white
}

.header{
padding:20px;
font-size:22px
}

.menu{
padding:20px;
display:grid;
grid-template-columns:1fr 1fr;
gap:15px
}

.server{
background:#161820;
margin:15px;
padding:15px;
border-radius:12px
}