*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial
}

body{
background:radial-gradient(circle at top,#151824,#05060a);
color:white
}

.center{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center
}

.glass{
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
border-radius:30px;
padding:35px;
width:92%;
max-width:480px;
min-height:420px;
box-shadow:0 25px 60px rgba(0,0,0,.7);
}

@keyframes fade{
from{opacity:0;transform:translateY(20px)}
to{opacity:1}
}

h2{
text-align:center;
margin-bottom:20px
}

input{
width:100%;
height:55px;
border:none;
border-radius:16px;
margin:10px 0;
background:#0d1018;
color:white;
padding:0 15px;
outline:none
}

button{
width:100%;
height:55px;
border:none;
border-radius:18px;
margin-top:15px;
background:linear-gradient(45deg,#7c3aed,#3b82f6);
color:white;
font-weight:bold;
font-size:15px
}

.auth-link{
margin-top:15px;
text-align:center;
opacity:.8;
pointer-events:auto
}

.auth-link a{
color:#7c9cff;
text-decoration:none;
font-weight:bold
}

.auth-link a:active{
opacity:.6
}