body{
margin:0;
background:#05070d;
color:white;
font-family:sans-serif;
text-align:center;
}

.auth{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.auth-card{
width:90%;
max-width:380px;
padding:40px;
background:#111;
border-radius:25px;
}

.auth-card input{
width:100%;
padding:15px;
margin-top:15px;
border-radius:15px;
border:none;
background:#222;
color:white;
}

.auth-card button{
width:100%;
padding:15px;
margin-top:25px;
border-radius:20px;
border:none;
background:linear-gradient(90deg,#7c3aed,#2563eb);
color:white;
font-size:18px;
}

.auth-card p{
margin-top:20px;
color:#aaa;
}

.header{
padding:20px;
font-size:25px;
}

.card{
margin:20px;
padding:25px;
background:#111;
border-radius:20px;
}

button{
padding:15px;
width:80%;
margin-top:20px;
border:none;
border-radius:20px;
background:linear-gradient(90deg,#7c3aed,#2563eb);
color:white;
}