*{margin:0;padding:0;box-sizing:border-box;font-family:Inter,Arial}

body{
background:#0b0d12;
color:white
}

.center{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center
}

.glass{
background:rgba(255,255,255,.06);
backdrop-filter:blur(12px);
border-radius:25px;
padding:30px;
width:90%;
max-width:380px;
box-shadow:0 20px 50px rgba(0,0,0,.6)
}

h2{text-align:center;margin-bottom:25px}

input,select{
width:100%;
height:52px;
border:none;
border-radius:16px;
margin:10px 0;
background:#141720;
color:white;
padding:0 15px
}

button{
width:100%;
height:52px;
border:none;
border-radius:18px;
margin-top:10px;
background:linear-gradient(45deg,#6d28d9,#3b82f6);
color:white;
font-weight:bold
}

.header{
padding:20px;
font-size:22px
}

.menu{
padding:0 20px;
display:grid;
grid-template-columns:1fr 1fr;
gap:15px
}

.menu button{
background:rgba(255,255,255,.08)
}

.card{
margin:20px;
background:rgba(255,255,255,.05);
border-radius:22px;
padding:20px
}

.server{
margin:15px;
background:#141720;
border-radius:18px;
padding:15px
}

@media(max-width:600px){
.glass{
width:95%;
padding:35px;
}
}

.auth-link{
text-align:center;
margin-top:15px;
opacity:.7
}