body{
margin:0;
background:#2b2b2b;
color:white;
font-family:sans-serif
}

.header{
margin:20px;
background:#888;
border-radius:15px;
padding:10px
}

.menu-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
padding:20px
}

.menu-grid button{
background:#999;
border:none;
border-radius:12px;
padding:15px;
font-weight:bold
}

.card{
margin:10px 20px;
background:#999;
border-radius:20px;
padding:10px
}

.card img{
width:100%;
border-radius:15px;
border:2px solid white
}

.desc{
margin:20px;
background:#888;
border-radius:15px;
padding:20px;
font-style:italic
}

/* drawer */

.drawer{
position:fixed;
left:-260px;
top:0;
width:250px;
height:100%;
background:#222;
padding:20px;
transition:.3s;
z-index:9
}

.drawer.open{left:0}

.avatar{
width:80px;
height:80px;
background:lime;
border-radius:50%;
margin:auto;
display:flex;
align-items:center;
justify-content:center
}

.drawer h3{text-align:center}

.drawer button{
width:100%;
margin:10px 0;
padding:12px;
background:#7b8aa1;
border:none;
border-radius:10px;
color:white
}

/* create page */

.topbar{
padding:15px
}

.create{
padding:20px
}

.create input,.create select{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:none
}

.create button{
width:100%;
padding:14px;
background:linear-gradient(45deg,#6d28d9,#3b82f6);
border:none;
border-radius:12px;
color:white
}

pre{
background:black;
padding:10px;
border-radius:10px
}