*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial
}

body{
background:#2f2f2f;
color:white
}

/* HEADER */

.header{
margin:20px;
height:55px;
background:#9c9c9c;
border-radius:16px;
display:flex;
align-items:center;
padding-left:15px
}

.header span{
font-size:26px
}

/* GRID MENU */

.menu-grid{
padding:0 20px;
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:10px
}

.menu-grid button{
height:50px;
background:#a0a0a0;
border:none;
border-radius:16px;
font-weight:bold;
font-size:15px
}

/* IMAGE CARD */

.card{
margin:20px;
background:#9c9c9c;
border-radius:20px;
padding:8px
}

.card img{
width:100%;
border-radius:15px;
border:2px solid white
}

/* DESCRIPTION */

.desc{
margin:0 20px 30px;
background:#9c9c9c;
border-radius:16px;
padding:20px;
font-style:italic
}

/* DRAWER */

.drawer{
position:fixed;
top:0;
left:-260px;
width:260px;
height:100%;
background:#262626;
padding:25px;
transition:.3s;
z-index:99
}

.drawer.open{
left:0
}

.avatar{
width:90px;
height:90px;
border-radius:50%;
background:#00ff00;
margin:auto;
display:flex;
align-items:center;
justify-content:center
}

.drawer h3{
text-align:center;
margin:15px 0
}

.drawer button{
width:100%;
height:45px;
margin:10px 0;
border:none;
border-radius:14px;
background:#7f8fa6;
color:white;
font-weight:bold
}

/* CREATE PAGE */

.topbar{
padding:15px
}

.create{
padding:20px
}

.create input,
.create select{
width:100%;
height:50px;
border-radius:14px;
border:none;
margin:10px 0;
padding:0 15px
}

.create button{
width:100%;
height:50px;
border:none;
border-radius:16px;
margin-top:10px;
background:linear-gradient(45deg,#6d28d9,#3b82f6);
color:white;
font-weight:bold
}

pre{
margin-top:15px;
background:black;
padding:15px;
border-radius:14px;
white-space:pre-wrap
}